<!-- navbar.component.html -->
<nav>
  <ul class="flex-container">
    <li>
      <a routerLink="/" mat-button color="primary">
        <img src="assets/img/home.png" alt="Home" width="60" height="60" />
      </a>
    </li>
    <li><a routerLink="/games" mat-button color="primary">Games</a></li>

    <li><a routerLink="/user" mat-button color="primary">Find Friends</a></li>


    <li *ngIf="!currUsername"><a routerLink="/signin" mat-button color="primary" routerLinkActive="active">Login</a></li>
    <li *ngIf="currUsername"><a (click)="logout()" mat-button color="primary" routerLinkActive="active">Welcome Back {{ currUsername}}/ logout</a></li>
    <li *ngIf="!currUsername"><a routerLink="profile/:userId/:games/:id" mat-button color="primary" routerLinkActive="active">profile</a>{{ currUsername}}</li>
 
  </ul>

</nav>
